@import "variables"
@import "../utils/mixins"

body
    color: $cl-text
    font-family: $font-copy
    font-weight: 400

.pure-g [class *= "pure-u"]
    font-family: $font-copy

p, td, th, ul, ol
    +font-size($font-size-base)

h1, h2, h3
    font-family: $font-heading

h2
    +font-size($font-size-xl)

h3
    +font-size($font-size-lg)

a
    color: $cl-link-default

[data-role="progress-show"]
    display: none
