<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/purestrap/favicon.ico' />
    <link rel="stylesheet" href="/purestrap/demo/purestrap.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <style>
        #toc li {
            list-style: none;
        }
        #toc li:before {
            content: "\203a\20\20"
        }
    </style>
</head>
<body>
	<div class="wrapper">
		<div class="content">
			{{ content }}
		</div>
	</div>
</body>
</html>
